<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Photo Contest -Page or Resource Not Found</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html"  th:href="@{/}">Photo Contest-Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="aboutPhotoContest.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">404
      <small>Page Not Found</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">404</li>
    </ol>

    <div class="jumbotron">
      <h1 class="display-1"  th:text="${'The page or resource cannot be displayed:'+error}">404</h1>
      <p>The page you're looking for could not be found.</p>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="nav-item" th:if="${currentUser.isOrganizer()}">
          <a class="nav-link" href="organizersHomePage.html" th:href="@{/organizer}">Organizers Homepage</a>
        </li>
        <li class="nav-item" th:unless="${currentUser.isOrganizer()}">
          <a class="nav-link" href="organizersHomePage.html" th:href="@{/users}">Users Homepage </a>
        </li>
      </ul>
    </div>
    <!-- /.jumbotron -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
