<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Photo Contest</title>

  <!-- Bootstrap core CSS -->
  <link  th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
         href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../static/front-end/index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>Photo contest</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt=""  th:src="@{/frontEndPhotos/about pic.jpg}">
      </div>
      <div class="col-lg-6">
        <h2>About Photo Contest</h2>
        <p>We are a team of hobby photographers trying to gather a vibrant community that shares the same passion.</p>
        <p>Each user can review the open contests, participate, earn more points and increase their rank! </p>
        <p>Users that have earned renown can be invited to be jury to open and invitational contests. </p>
        <p th:text="${'We are currently a community of: '+numberOfUsers+' enthusiasts and growning.'}"></p>
        <p>So if you like the idea-register, review the open contests and let us see what you've got!</p>
        <div>
          <a href="#" th:href="@{/rules}">Click to see the contest scoring rules and the possible ranks</a>
        </div>

      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="" th:src="@{/frontEndPhotos/organizer1.jpeg}">
          <div class="card-body">
            <h4 class="card-title">Contest organizer/Dictator</h4>
            <h6 class="card-subtitle mb-2 text-muted">Organizer/Dictator</h6>
            <p class="card-text">Vladimir is the man behind the idea. He has a passion to tinker with things
              and has a keen eye for a beautiful sunset. He also likes going for long walks on the beach. </p>
          </div>
          <div class="card-footer">
            <a href="#">vladimir.seleznyov.a25@learn.telerikacademy.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="" th:src="@{/frontEndPhotos/organizer2.jpeg}">
          <div class="card-body">
            <h4 class="card-title">Contest organizer/Dictator</h4>
            <p class="card-text">Ivaylo is a former accountant working his way towards lion taming via programming.
            Which is all well and good but he could never resist the urge to stop and take a photo of a pretty flower when he saw one.</p>
          </div>
          <div class="card-footer">
            <a href="#">ivaylo.kapitanski.a25@learn.telerikacademy.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
