<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Photo Contest</title>

  <!-- CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html" th:href="@{/organizer}">Back</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Contests</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html" th:href="@{/}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="index.html" th:href="@{/organizer}">Organizer</a>
    </li>
    <li class="breadcrumb-item active">Contests</li>
  </ol>

  <form>
    <div class="row">
      <div th:each="contest : ${contestList}" class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a th:if="${contest.getPhoto() == null}">
            <img class="card-img-top" th:src="@{/userPhotos/photoNotFound.jpg}" src="http://placehold.it/700x400" alt="">
          </a>

          <a th:if="${contest.getPhoto() != null}">
            <img class="card-img-top" th:src="@{${'/userPhotos/'+contest.getPhoto().getSource()}}" src="http://placehold.it/700x400" alt="">
          </a>

          <div class="card-body">
            <h4 class="card-title">
              <a href="#" th:href="@{/contests/{id}/all-entries(id=${contest.getContestId()})}" th:text="${contest.getTitle()}" th:value="${contest.getContestId()}">Contest title</a>
            </h4>
            <p th:text="${'Title: ' + contest.getCategories().getCategoryType()}"></p>
            <p th:text="${'Phase 1 ending time: ' + contest.getPhaseITime()}"></p>
            <p th:text="${'Phase 2 ending time: ' + contest.getPhaseIITime()}"></p>
          </div>
        </div>
      </div>

      <div th:if="${contestError == 'contestError'}" class="col-lg-6 portfolio-item">
        <h2 style="color:red">Contests not found</h2>
      </div>
    </div>
  </form>

</div>
<!-- /.container -->
<div style="position: relative; margin-top: 100px;">
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
  </div>
</footer>

<!-- JavaScript -->
<script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
        src="../static/front-end/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/front-end/js/jqBootstrapValidation.js"></script>
<script src="../static/front-end/js/contact_me.js"></script>

</body>
</html>

