<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <title>Photo Contest</title>

  <!-- CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html" th:href="@{/organizer}">Back</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Add Junkie</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/organizer}">Organizer</a>
      </li>
      <li class="breadcrumb-item active">Add junkie</li>
    </ol>

    <form th:action="@{/contests/{id}/add/junkies(id=${contestId})}" th:object="${junkieDto}" method="post">
      <div class="row">
        <div th:each="users : ${junkieList}" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a th:text="${users.getUsername()}"></a>
              </h4>
              <p class="card-text" th:text="${users.getRank()}"></p>

              <label for="participate">Choose</label>
              <input type="checkbox" th:field="*{userNames}" th:value="${users.getUsername()}" id="participate">

            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="sendMessageButton">Add junkie</button>
      <p th:errors="*{userNames}">Users error placeholder<</p>
    </form>


  </div>
  <!-- /.container -->
  <div style="position: relative; margin-top: 100px;">
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
  </footer>

  <!-- JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/front-end/js/jqBootstrapValidation.js"></script>
  <script src="../static/front-end/js/contact_me.js"></script>

</body>
</html>
