<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">

  <title>Photo Contest</title>

  <!-- CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">
  <link th:href="@{/front-end/vendor/bootstrap/css/photos_style.css}"
        href="../static/front-end/vendor/bootstrap/css/photos_style.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html" th:href="@{/organizer}">Back</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Create review</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/contests/{id}/all-entries(id=${contestId})}">Contest</a>
      </li>
      <li class="breadcrumb-item active">Create review</li>
    </ol>

    <!-- Register Form -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Review setup</h3>
        <h3 th:if="${error == 'error'}" style="color: red">Can not create review again</h3>
        <form th:action="@{/organizer/contest/{contId}/create/entry/{entId}/review(contId=${contestId}, entId=${entryId})}" th:object="${reviewDto}" novalidate method="post">

          <div class="control-group form-group">
            <div class="controls">
              <label for="category">Score:</label>
              <select id="category" th:field="*{score}">
                <option th:value="${0}">0</option>
                <option th:value="${1}">1</option>
                <option th:value="${2}">2</option>
                <option th:value="${3}">3</option>
                <option th:value="${4}">4</option>
                <option th:value="${5}">5</option>
                <option th:value="${6}">6</option>
                <option th:value="${7}">7</option>
                <option th:value="${8}">8</option>
                <option th:value="${9}">9</option>
                <option th:value="${10}">10</option>
              </select>
              <p th:errors="*{score}">Category error placeholder<</p>
              <p class="help-block"></p>
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              <label>Message:</label>
              <textarea th:field="*{comment}" rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
              <p th:errors="*{comment}">Category error placeholder<</p>
              <p class="help-block"></p>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" id="sendMessageButton">Create review</button>
        </form>
        <form th:action="@{/organizer/contest/{contId}/entry/{entId}/category-not-correct(contId=${contestId}, entId=${entryId})}" method="post">
          <button type="submit" class="btn btn-primary" style="background-color: #711313;">Wrong category</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
  </footer>
</body>
</html>
