<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Photo Contest - home page</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html"  th:href="@{/}">Photo Contest-Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="aboutPhotoContest.html" th:href="@{/about}" >About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="theRules.html" th:href="@{/rules}" >Rules</a>
          </li>
          <li class="nav-item" th:if="${isAuthenticated && currentUser.isOrganizer()}">
            <a class="nav-link" href="organizersHomePage.html" th:href="@{/organizer}">Organizer</a>
          </li>
          <li class="nav-item" th:unless="${isAuthenticated}">
            <a class="nav-link" th:href="@{/auth/register}"
               href="register.html">Register</a>
          </li>
          <li class="nav-item" th:if="${isAuthenticated}">
            <a class="nav-link" th:href="@{/users}"
               href="userHomePage.html">Users Home Page</a>
          </li>

          <li class="nav-item" th:unless="${isAuthenticated}">
            <a class="nav-link" th:href="@{/auth/login}"
               href="login.html">Login</a>
          </li>

          <li class="nav-item" th:if="${isAuthenticated}">
            <a class="nav-link" th:href="@{/auth/logout}"
               href="login.html">Logout</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4"
        th:if="${currentUser != null}"
        th:text="#{home.welcome(${currentUser.getFirstName()})}">Welcome Photo Contest USERNAME!</h1>
    <h1 class="my-4"
        th:if="${currentUser == null}"
        th:text="#{home.welcome.anonymous}">Welcome to Photo Contest!</h1>
    <hr>
  </div>
  <h1>Latest Winning Photos!</h1>
  <div class="row" th:each="entry : ${winningEntries}">
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100" th:if="${entry.getStory() != null}">
        <img class="scale" data-scale="best-fit-down" data-align="center" th:if="${entry.getPhoto() == null}" th:src="@{/userPhotos/photoNotFound.jpg}" src="http://placehold.it/700x400" alt="">
        <img class="scale" data-scale="best-fit-down" data-align="center" th:if="${entry.getPhoto() != null}" th:src="@{${'/userPhotos/'+entry.getPhoto().getSource()}}"
               src="http://placehold.it/700x400" alt="">
        <div class="card-body">
          <p class="card-text"></p>
          <p th:if="${entry.getStory() != null}" th:text="${'Entry story: '+entry.getStory()}">Entry Story</p>
          <p th:if="${entry.getUser() != null}" th:text="${'Submitted by: '+entry.getUser().getFirstName()}">User ID</p>
          <p th:if="${entry.getContest() != null}" th:text="${'For category: '+entry.getContest().getCategories().getCategoryType()}">Category</p>
        </div>
      </div>
    </div>
  </div>
  <p th:if="${winningEntries==null || error!=null}" th:text="${'No available entries to show!'}"></p>

  <!-- /.container -->
  <div style="position: relative; margin-top: 100px;">
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $(function() {
      $("img.scale").imageScale();
    });
  </script>

</body>

</html>
