<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Photo Contest</title>

  <!-- Bootstrap core CSS -->
  <link  th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
         href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../static/front-end/index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Rules and Ranks
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item active">Contest rules</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt=""  th:src="@{/frontEndPhotos/rules.jpg}">
      </div>
      <div class="col-lg-6">
        <h2>How to enter a contest and what to expect</h2>
        <p>Contest participation should award points. Points are accumulative, so being invited and subsequently winning will award 53 points totals.  </p>
          <p> • Joining open contest – 1 point</p>
          <p> • Being invited by organizer – 3 points</p>
          <p> • 3rd place – 20 points (10 points if shared 3rd)</p>
          <p> • 2nd place – 35 points (25 points if shared 2nd)</p>
          <p> • 1st place – 50 points (40 points if shared 1st)</p>
          <p> • Finishing at 1st place with double the score of the 2nd (e.g., 1st has been awarded 8.6 points average, and 2nd is 4.3 or less) – 75 points</p>
          <p> • In case of a tie, positions are shared, so there can be more than one participant at 1st, 2nd, and 3rd places, all in the same contest.</p>
          <p> For example, two 1st places, one 2nd and four 3rds; the two winners will each get 40 points,
            the only 2nd place will get the full 35 points, and the four 3rd finishers will get 10 points.</p>

          <h2>Ranks you can earn</h2>
          <p>• (0-50) points – Junkie </p>
          <p>• (51 – 150) points – Enthusiast </p>
          <p>• (151 – 1000) points – Master (can now be invited as jury) </p>
          <p> • (1001 – infinity) points – Wise and Benevolent Photo Dictator (can still be jury) </p>
      </div>
  </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
