<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Photo Contest</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/front-end/css/modern-business.css}"
          href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Contest Entry
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="userHomePage.html" th:href="@{/users}">Users Home Page</a>
        </li>
        <li class="breadcrumb-item active">View Contest Entry</li>
    </ol>

    <!-- Single Entry -->
    <hr>
    <div class="row" th:if="${myContestEntry!=null}">

        <div class="col-md-8">
            <img class="img-fluid" src="http://placehold.it/750x500"
                 th:src="@{${'/userPhotos/'+myContestEntry.getPhotoSource()}}" alt="">
        </div>
        <div class="col-md-4" >
            <h3 class="my-3" th:text="${'Entry title: '+myContestEntry.getEntryTitle()}">Entry title</h3>
            <p th:text="${'Entry story: '+myContestEntry.getEntryStory()}">Entry Story</p>
            <p th:text="${'Jury Score: '+entryScore}">Entry score</p>
            <p th:text="${'Submitted by: '+myContestEntry.getCreatedBy()}">User ID</p>
            <p th:text="${'For category: '+myContestEntry.getContestCategory()}">Category</p>
        </div>

    </div>

    <div class="row" th:if="${contestEntry!=null}">

        <div class="col-md-8">
            <img class="img-fluid" src="http://placehold.it/750x500"
                 th:src="@{${'/userPhotos/'+contestEntry.getPhoto().getSource()}}" alt="">
        </div>
        <div class="col-md-4" >
            <h3 class="my-3" th:text="${'Entry title: '+contestEntry.getTitle()}">Entry title</h3>
            <p th:text="${'Entry story: '+contestEntry.getStory()}">Entry Story</p>
            <p th:text="${'Jury Score: '+entryScore}">Entry score</p>
            <p th:text="${'Submitted by: '+contestEntry.getUser().getFirstName()}">User ID</p>
            <p th:text="${'For category: '+contestEntry.getContest().getCategories().getCategoryType()}">Category</p>
            <a class="btn btn-primary" href=""
               th:href="@{${'/users/entries/'+contestEntry.getEntryId()+'/all-reviews'}}">View Jury Reviews
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>
    <div>
        <p th:if="${error!=null}" th:text="${'Entry not available'}"></p>
    </div>
</div>
    <hr>
    <!-- /.row -->

    <!-- /.container -->
    <div style="position: relative; margin-top: 100px;">
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
            src="../static/front-end/vendor/jquery/jquery.min.js"></script>
    <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
            src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
